@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #E5E5E5;
}

.content {
    height: 98vh;
    display: flex;
    gap: 80px;
    padding: 40px;

}

.logo{
    margin-left: 30px;
}

.text-content {
    width: 680px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 24px;
}

.textArea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    font-size: 32px;
    color: #0A3871;
    background-color:#E5E5E5;
}

.textArea::placeholder {
    color: #0A3871;
}

.warning-box {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.warning-text {
    padding-left: 8px;
}

.button-box {
    width: 100%;
    display: flex;
    gap: 48px;
}

button {
    width: 100%;
    height: 67px;
    background-color: #0A3871;
    color: #FFFFFF;
    font-size: 16px;
    padding: 24px;
    border-radius: 15px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
}

.button-secondary {
    color: #0A3871;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 8px;
  }


::-webkit-scrollbar-thumb {
    background: #0A3871;
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.show-content {
    padding: 32px 32px 0 32px;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.show-content img {
    width: 80%;
    margin: 0 auto;
}

.text-box-content > .title {
    color: #343A40;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.text-box-content > .subtitle {
    color: #343A40;
    font-size: 18px;
    text-align: center;
}

/* cripto style */

#text-cripto {
    height: 70%;
    padding-right: 5px;
    font-size: 18px;
    color: #0A3871;
    overflow: auto;
    transition: 2s ease-in;
}

#copy {
    margin-top: 15px;
}

footer {
    width: 100%;
    background-color: #0A3871;
    color: #FFFFFF;
    text-align: center;
    padding: 25px;
}

/*  Responsividade */

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 73px 40px 0;
    }

    .logo{
        margin-left: 0px;
    }

    .text-content {
        width: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 24px;
    }

    .textArea {
        width: 100%;
        height: auto;
        margin-bottom: 40%;
        outline: none;
        border: none;
        resize: none;
        font-size: 32px;
        color: #0A3871;
        background-color:#E5E5E5;
    }


    .show-content {
        width: 100%;
        padding: 32px;
        margin-bottom: 40px;
        background-color: #FFFFFF;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .show-content img {
        display: none;
    }

    #text-cripto {
        height: 70%;
        padding-right: 5px;
        font-size: 24px;
        color: #0A3871;
        overflow: auto;
    }
}

@media screen and (max-width: 375px) {

    .content {
        width: 100%;
        height: 100%;
        display: block;
        padding: 24px 16px 0;
    }

    .text-content {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .textArea {
        width: 100%;
        height: auto;
        margin-bottom: 30%;
        outline: none;
        border: none;
        resize: none;
        font-size: 32px;
        color: #0A3871;
        background-color:#E5E5E5;
    }

    .warning-box {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        font-size: 13px;
    }
    
    .warning-text {
        padding-left: 8px;
    }

    .button-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


    .show-content {
        margin-top: 15px;
    }


    .text-box-content > .title {
        color: #343A40;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 16px;
    }

    .text-box-content > .subtitle {
        color: #343A40;
        font-size: 13px;
        text-align: center;
    }
}